pipeline/SSIS IR Demo.json
{
	"name": "SSIS IR Demo",
	"properties": {
		"activities": [
			{
				"name": "Get the SSIS IR status",
				"description": "Call REST API to start Azure-SSIS IR.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/94321c57-8a21-4280-8245-6f7655746ac2/resourceGroups/adf-demos/providers/Microsoft.DataFactory/factories/adf-jan-2020/integrationRuntimes/ir-ssis-demo?api-version=2018-06-01",
					"method": "GET",
					"body": {
						"message": "Start my IR"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Start SSIS IR if not in Started state",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "vSSISIRStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get the SSIS IR status').output.properties.state,'Started')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Start Azure-SSIS IR",
							"description": "Call REST API to start Azure-SSIS IR.",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://management.azure.com/subscriptions/94321c57-8a21-4280-8245-6f7655746ac2/resourcegroups/adf-demos/providers/Microsoft.DataFactory/factories/adf-jan-2020/integrationRuntimes/ir-ssis-demo/start?api-version=2018-06-01",
								"method": "POST",
								"body": {
									"message": "Start my IR"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "vSSISIRStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get the SSIS IR status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vSSISIRStatus",
					"value": {
						"value": "@activity('Get the SSIS IR status').output.properties.state",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vSSISIRStatus": {
				"type": "String",
				"defaultValue": "Stopped"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-03T16:26:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}