pipeline/Stop SSIS IR.json
{
	"name": "Stop SSIS IR",
	"properties": {
		"activities": [
			{
				"name": "Get the SSIS IR status",
				"description": "Call REST API to start Azure-SSIS IR.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/94321c57-8a21-4280-8245-6f7655746ac2/resourceGroups/adf-demos/providers/Microsoft.DataFactory/factories/adf-jan-2020/integrationRuntimes/ir-ssis-demo?api-version=2018-06-01",
					"connectVia": {
						"referenceName": "Azure-IR-EastUS",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"body": {
						"message": "Start my IR"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "vSSISIRStatus",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get the SSIS IR status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vSSIS-IR-Status",
					"value": {
						"value": "@activity('Get the SSIS IR status').output.properties.state",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stop SSIS IR",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "vSSISIRStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get current pipeline runs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(\n  or(  \n     equals( variables('vSSIS-IR-Status'), 'Initial' ),\n     equals( variables('vSSIS-IR-Status'), 'Stopped' )\n  )\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Stop Azure-SSIS IR",
							"description": "Call REST API to stop Azure-SSIS IR.",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://management.azure.com/subscriptions/94321c57-8a21-4280-8245-6f7655746ac2/resourcegroups/adf-demos/providers/Microsoft.DataFactory/factories/adf-jan-2020/integrationRuntimes/ir-ssis-demo/stop?api-version=2018-06-01",
								"connectVia": {
									"referenceName": "Azure-IR-EastUS",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"message": "Stop my IR"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get current pipeline runs",
				"description": "Call REST API to start Azure-SSIS IR.",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions/94321c57-8a21-4280-8245-6f7655746ac2/resourceGroups/adf-demos/providers/Microsoft.DataFactory/factories/adf-jan-2020/queryPipelineRuns?api-version=2018-06-01",
					"connectVia": {
						"referenceName": "Azure-IR-EastUS",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"message": "Start my IR"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			}
		],
		"variables": {
			"vSSIS-IR-Status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-03T18:19:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}